<form>
    <div class="form-group">
        <label for="lugar">Lugar de la incidencia</label>
        <input type="text" class="form-control" id="lugar" placeholder="escribe el lugar donde se produjo la incidencia">
      </div>

    <div class="form-group">
        <label for="descripcion">Descripcion de la incidencia</label>
        <textarea class="form-control" id="descripcion" rows="3" placeholder="escribe una descripcion de la incidenia"></textarea>
      </div>

      <div class="form-group">
        <label for="arreglo">Posible arreglo de la incidencia</label>
        <textarea class="form-control" id="arreglo" rows="2" placeholder="escribe el posible arreglo de la incidenia"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
